
.block {
  background-color: $grey-lighter-color;
  border: 1px $border-color solid;
  box-shadow: 0 2px 5px $black-light-color;
  text-align: justify;
}
li {
   
  display: inline;
  margin: 20px;
  //display: flex;
  //justify-content:flex-end;
  
  a{
        color: white;
        
  }
}
.buton
  {
    border: 1px solid #ffffff;
    border-radius: 20px;
  }




.container {
  width:100%;
  background-image: url("../../img/banner.jpg") ;
  
}
.mom-header {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;

  .header-text {
    font-family: Roboto;
    font-size: 21px;
    font-weight: normal;
    
    
    
  }
}
.header-1
{
  display: flex;

}
.MoM{
  justify-content: flex-start;
  font-size: 40px;
  color: white;
  margin-left: 20px;
  margin-top: 30px;

}
.logo

{
  justify-content: flex-start;
  width:100px;
  height: 100px;

}
.layer0 {
  width: 100%;
  height: 1079px;
  object-fit: contain;
  display : flex;
  justify-content: center;
  //background-image: url("../../img/banner.jpg") ;
  flex-direction: column;
  //margin-top: -100px;
}


  

.trail
{
  position: relative;
  width: 200px;
  height: 40.4px;
  border-radius: 30.2px;
  background-color: #1ea2ff;
  //margin-left: 500px;
  align-self: center;
  display: flex;
  border-color: #1ea2ff;
  

}
.image1{
     top: 170px;
    height: 429px;
    width: 80%;
    align-self: center;
    position: relative;

  }
.data
{

  //position: relative;
    top: 100px;
    justify-content: column;
    align-self: center;
    font-size: 40px;
    position: relative;
    bottom: inherit;
    color: white;
}
.section1-secondline
{
  margin-top: 20px;
  align-self: center;

}
h1.display-5 {
  font-family: Roboto;
  text-align: center;
  font-size: 56px;
  color: white;
}
h2.display-8 {
  font-size: 28px;
  color:white;
  font-family: Roboto;
  text-align: center;
}
.layer1 {
 
  width: 100%;
  height: 7764px;
  display: flex;
  justify-content: flex-end;
   .image2-mock-2
    {  
       margin-top : 1776px;
       width: 1056px;
       height: 633px;
       background-image: url("../../img/mock_two.png");
       background-repeat: no-repeat;

    }
}

.section-2-image
{
  justify-content: center;
  //align-self: center;


}
.layer3{
  width: 100%;
  height: 913.9px;
  background-color: #273140;
  display:flex;
  flex-direction: column ;
  color:#ffffff;
  .layer3-part1
  {
     align-self: center;
     position: relative;
     left: 10px;

  }
  .layer3-part2{
    align-self: center;
    p{
      //position:relative;
      font-family: Roboto;
      font-size: 20.5px;
      font-style: italic;
      
      

    }
    .Description
      {
        position: relative;
        margin-left: 150px;
        margin-right: 150px;
      }
      
    
  }
    .comment
    {
      position:relative;
      margin-left: 350px;
      font-size: 20px;

    }
    .comment1{

      position:relative;
      margin-left: 450px;
      font-size: 20px;
      top:40px;

    }
  .layer3-part3
  {
    align-self: center;
    .trail
   {
     position: relative;
     width: 200px;
     height: 40.4px;
     border-radius: 30.2px;
     background-color: #1ea2ff;
     //margin-left: 500px;
     align-self: center;
     display: flex;
     border-color: #1ea2ff;
  

   }
  }
  
}

.layer4{
  width: 100%;
  height: 900px;
  background-color: #273140;

}
.layer5
{
  width: 100%;
  height: 704px;
  background-color: #212a38;
}
.layer6
{
width: 100%;
  height: 87px;
  background-color: #2c3748;

}
.layer7{
  width: 100%;
  height: 416.5px;
  background-color: #212a37;

}
.layer7-img
{
  width: 46px;
  height: 44px;
  object-fit: contain;
  background-color:white;
  margin-left: 502px;
    
}
.layer2
{
  width: 100%;
  height: 369px;
  object-fit: contain;
 
  background-image: url("../../img/insights_bg.jpg");
  display :flex;
  justify-content: space-between;
  p{
    font-family: Roboto;
  font-size: 30px;
  font-weight: 100;
  font-family: Roboto;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
   color:#ffffff;
  }
  .data-number
  {
    font-size: 60px;
    font-weight: 100;
    position: relative;
    bottom: inherit;
    top:40px;
    font-family: Roboto;
    color:#ffffff;
  }
  }

.part1
{  
   align-self:flex-start;
   
}
.part2
{ 
  align-self: flex-start;
}
.part3
{
  align-self: flex-start;
}
.part4
{
  
  align-self: flex-start;

}


.footer
{
  width: 100%;
  height: 69.3px;
  flex: display;
  justify-content: center;
  
  background-color: #1d2531;
  
   span
   { margin-left: 500px;
     color: wheat;
     align-self: center;
   } 

   }


  

